html {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Gotham Pro", sans-serif;
}

.price {
    margin: 0;
    padding: 0;
}

.wrapper {
      min-height: 100%;
      overflow: hidden;
}

/* ХЕДЕР */

.header {
    background: url("../img/logo-fig.png") no-repeat;
    background-color: rgb(39, 39, 62);
    background-position: 20px 10px;
    width: 100%;
    height: 75px;
}

.contacts__phone {
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    right: 20px;
    top: 20px;
}

.contacts__schedule > span {
    font-family: Open sans;
    font-size: 14px;
    color: rgb(192, 33, 105);
    text-decoration: underline;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 40px;
}

.contacts__schedule span:hover {
    color: rgb(127, 170, 212);
    cursor: pointer;
}

.contacts__schedule:active .contacts__schedule-time
{
    display: block;
}
.contacts__schedule:hover .contacts__schedule-time
{
    display: block;
}

.contacts__schedule-time {
    font-size: 14px;
    position: absolute;
    top: 60px;
    right: 10px;
    display: none;
    width: 159px;
    height: 98px;
    padding-top: 20px;
    padding-left: 15px;
    background: url("../img/Rounded_Rectangle.png") no-repeat;
}

.bold {
    color: rgb(192, 33, 105);
    font-weight: bold;
}

/* БОКОВОЕ МЕНЮ */

.sidebar a {
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    color: rgb(236, 30, 121);
    letter-spacing: 0.2em;
    font-weight: bold;
}

.sidebar {
    position: relative;
    float: left;
    left: -15px;
    width: 180px;
}

.sidebar img {
    margin-right: 20px;
}

.sidebar li {
    display: inline-block;
    padding-top: 30px;
    list-style: none;
}

.active .menu__title {
    color: #000000;
}

.menu__icon {
    position: relative;
    float: left;
    margin-right: 20px;
}

.menu__title {
    position: relative;
    float: right;
    margin-top: 5px;
}

.sidebar a:hover {
    color: #000000;
}

/* ХЛЕБНЫЕ КРОШКИ */

.content {
    width: 900px;
    margin-left: 200px;
}

.breadcrumbs {
    position: relative;
    float: left;
    top: 35px;
    font-style: italic;
    font-size: 14px;
    width: 100%;
    list-style: none;
    padding: 0px;
}

.breadcrumbs__item {
    display: inline;
}

.breadcrumbs__link {
    color: rgb(236, 30, 121);
}

.breadcrumbs .breadcrumbs__link-active {
    color: #000000;
    text-decoration: none;
}

.breadcrumbs__link:hover {
    color: #000000;
}

/* КАРТОЧКИ С ЦЕНАИМ И ОСНОВНОЕ СОДЕРЖАНИЕ */

h1 {
    position: relative;
    float: left;
    font-size: 49px;
    width: 100%;
    margin-top: 45px;
    margin-bottom: 25px;
}

.cards {
    position: relative;
    float: left;
    width: 860px;
}

.prices {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: stretch;
    height: 800px;
    padding: 0;
}

.prices__element-picture {
    display:inline-block;   
    position:relative;
    font-size: 24px;
    color: rgb(93, 209, 248);
    font-weight: bold;
    width: 250px;
    height: 153px;
}

.picture__text {
    position: absolute;
    top: 65px;
    left: 25px;
    text-transform: uppercase;
}

.prices__element-title {
    width: 250px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
}

.prices__element-text {
    width: 250px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 1.5em;
}

.vip {
    color: rgb(236, 30, 121);
}

/* ФУТЕР */

.footer {
    position: relative;
    background: url("../img/logo-fig.png") no-repeat;
    background-color: rgb(39, 39, 62);
    background-position: center;
    width: 100%;
    height: 75px;
    margin-top: 70px;
}

.footer__author {
    max-width: 280px;
    padding: 10px 15px 15px 20px;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.3em;
    text-align: left;
}

.school_name {
    font-weight: bold;
    color: #fff;
}
.footer__social {
    display: block;
    position: relative;
    float: right;
    color: #ffffff;
    top: -55px;
    padding-right: 20px;
    line-height: 0.1em;
    font-weight: bold;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.icons img {
    position: relative;
    top: -6px;
    left: 21px;
}

.socials__icons:hover #icon {
    fill: rgb(236, 30, 121);   
}

