html {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Gotham Pro", sans-serif;
    color: #221f1f;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.intro {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;   
}

.intro__logo {
    margin: 0 auto;
    display: block;
    margin-top: 20%;
}

.button {
    display: block;
    padding: 14px 20px 13px 20px;
    width: 139px;
    margin: 30px auto;
    border: 3px solid #ec1e79;
    text-decoration: none;
    color: #ec1e79;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 12px;
    text-transform: uppercase;
}

.button:hover {
    color: #fff;
    background-color: #ec1e79;
}

.wrapper {
    position: relative;
    min-height: 100%;
    overflow: hidden;
    min-width: 1140px;
}

.wrapper:after {
    content: "";
    display: block;
    width: 100%;
    height: 75px;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

/* ХЕДЕР */

.header {
    background-color: rgb(39, 39, 62);
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.contacts {
    float: right;
    display: inline-block;
    margin-top: 10px;
    margin-right: 40px;
}

.contacts__phone {
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.schedule__text {
    display: inline-block;
    font-family: Open sans;
    font-size: 14px;
    color: rgb(192, 33, 105);
    text-decoration: underline;
    font-weight: bold;
    padding-left: 85px;
    padding-top: 1px;
}

.contacts__schedule .schedule__text:hover {
    color: rgb(127, 170, 212);
    cursor: pointer;
}

.contacts__schedule:active .contacts__schedule-time
{
    display: block;
}
.contacts__schedule:hover .contacts__schedule-time
{
    display: block;
}

.contacts__schedule-time {
    font-size: 14px;
    position: absolute;
    top: 60px;
    right: 181px;
    display: none;
    width: 159px;
    height: 98px;
    padding-top: 20px;
    padding-left: 15px;
    background-image: url("../img/Rounded_Rectangle.png");
    background-repeat: no-repeat;
    z-index: 5;
}

.bold {
    color: rgb(192, 33, 105);
    font-weight: bold;
}

/* БОКОВОЕ МЕНЮ */

.menu__link {
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    color: rgb(236, 30, 121);
    letter-spacing: 0.1em;
    font-weight: bold;
}

.sidebar {
    float: left;
    width: 180px;
    margin-top: 30px;
}

.menu__item {
    display: inline-block;
    list-style: none;
    padding-bottom: 29px;
}

.menu {
    padding-left: 17px;
}

.menu__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.menu__icon_triangle {
    background-image: url('../img/main_icon.png'); 
}

.menu__icon_wallet {
    background-image: url('../img/wallet_icon.png');
}

.menu__icon_feed {
    background-image: url('../img/feed_icon.png');
}

.menu__title {
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
    
}

.menu__link:hover .menu__title {
    color: #221f1f;
}

.menu__link:hover .menu__icon_triangle {
    background-image: url('../img/main_icon_hover.png');
}

.menu__link:hover .menu__icon_wallet {
    background-image: url('../img/wallet_icon_hover.png');
}

.menu__link:hover .menu__icon_feed {
    background-image: url('../img/feed_icon_hover.png');
}

/* ХЛЕБНЫЕ КРОШКИ */

.content {
    width: 900px;
    margin-left: 200px;
}

.breadcrumbs {
    position: relative;
    float: left;
    top: 31px;
    left: -2px;
    font-style: italic;
    font-size: 14px;
    width: 100%;
    list-style: none;
    padding: 0px;
}

.breadcrumbs__item {
    display: inline;
}

.breadcrumbs__link {
    color: rgb(236, 30, 121);
}

.breadcrumbs .breadcrumbs__link--active {
    color: #000000;
    text-decoration: none;
    cursor: default;
}

.breadcrumbs__link:hover {
    color: #000000;
}

.breadcrumbs__item:not(:last-child):after {
    content: '/';
}

/* КАРТОЧКИ С ЦЕНАИМ И ОСНОВНОЕ СОДЕРЖАНИЕ */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

.title {
    float: left;
    font-size: 49px;
    margin-top: 43px;
    margin-left: -5px;
    margin-bottom: 25px;
    font-weight: bold;
}

.cards {
    float: left;
    width: 950px;
}

.prices {
    list-style: none; 
    padding: 0px;
    margin-bottom: 33px;
}

.prices__element {
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;
    margin-bottom: 40px;
    width: 250px;
}

.prices__element-picture {
    display: inline-block;   
    position: relative;
    font-size: 24px;
    color: rgb(93, 209, 248);
    font-weight: bold;
    width: 250px;
    height: 153px;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
}

.picture__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    width: 200px;
    z-index: 2;
    line-height: 1.4em;
}

.prices__element-title {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    font-size: 18px;
}

.prices__element-text {
    text-align: center;
    padding-top: 13px;
    font-size: 14px;
    line-height: 1.5em;
}

.vip {
    color: rgb(236, 30, 121);
}

.prices__element-picture::after {
    content: "";
    background-color: rgb(39, 39, 62);
    opacity: 0.851;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 250px;
    height: 153px;
    z-index: 1;
  }
  

/* ФУТЕР */

.footer {
    background-color: rgb(39, 39, 62);
    width: 100%;
    margin-top: 1px;
    min-width: 1140px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.footer__col {
    float: left;
    width: 33.3%;
}

.footer__author {
    max-width: 280px;
    padding: 12px 15px 15px 20px;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.3em;
    text-align: left;
}

.school_name {
    font-weight: bold;
    color: #fff;
}
.footer__social {
    display: inline-block;
    color: #ffffff;
    margin-right: 19px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 14px;
    float: right;
}

.socials {
    list-style: none;
    padding: 0;
    margin-top: 8px;
}

.socials__icons {
    display: inline-block;
    background: #d4d4d8;
    border-radius: 50%;
    margin-right: 5px;
}

.footer__pic {
    margin: 15px 36%;
}

.icons__pic {
    margin-top: 5px;
}

.icons {
    display: inline-block;
    width: 21px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}

.socials__icons:hover {
    background-color: #ec1e79;
}

/* ГЛАВНАЯ СТРАНИЦА */

.about {
    display: inline-block;
    float: left;
    margin-left: 22px;
    width: 700px;
}

/* .gradient {
    position: absolute;
    background-image: linear-gradient(to right, #27273e 43%, #5dd1f8 93%);
    opacity: 0.5;
    width: 880px;
    height: 355px;
} */

.about__text {
    position: absolute;
    text-transform: uppercase;
    font-size: 49px;
    font-weight: bold;
    color: #fff;
    top: 234px;
    left: 430px;
}

.main__content {
    width: 700px;
    float: left;
    margin-left: 25px;
}

.main__text {
    display: inline-block;
    float: left;
    color: #221f1f;
    font-size: 18px;
    line-height: 1.5em;
}

.main__list {
    line-height: 1.9em;
    padding-left: 35px;
    margin-top: -15px;
}

.main__text li {
    list-style: none;
    position: relative;
}

.main__list li:before {
	content:'•';
	color: #ec1e79;
    left: -20px;
    position: absolute;
}

.rect {
    color: #fff;
    padding: 10px 55px 13px 30px;
    background-color: #27273e;
    margin-bottom: 86px;
}

.rect__disc {
    color: #ec1e79;
    font-weight: bold;
}

.partners__head {
    text-transform: uppercase;
    font-size: 49px;
    font-weight: bold;
}

.logos {
    float: left;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 0px;
    width: 900px;
}

.partners__list {
    padding-left: 0;
}

.partners__logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 125px;
    margin-bottom: 51px;
    width: 147px;
    -webkit-filter: grayscale(100%);
    text-align: center;
}

.partners__logo:hover {
    filter: grayscale(0%);
    transition-duration: 1.2s;
}