@import url("./section/main.css");
@import url("./section/comments.css");
@import url("./section/content.css");
@import url("./section/footer.css");
@import url("./section/header.css");
@import url("./section/prices.css");
@import url("./section/sidebar.css");

@font-face {
    font-family: "Gotham Pro";
    src: url('../fonts/GothaProBol/GothaProBol.woff') format("woff");
    font-weight: bold;
    font-style: normal;
} 
  
@font-face {
    font-family: "Gotham Pro";
    src: url('../fonts/GothaProLig/GothaProLig.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: "Gotham Pro";
    src: url('../fonts/GothaProLigIta/GothaProLigIta.woff') format("woff");
    font-weight: normal;
    font-style: italic;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Gotham Pro", sans-serif;
    color: #221f1f;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

h1,
h2, 
h3, 
h4, 
h5, 
h6 {
    margin: 0;
    font-weight: normal;
}

.intro {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;   
}

.intro__logo {
    margin: 0 auto;
    display: block;
    margin-top: 20%;
}

.button {
    display: block;
    padding: 14px 20px 13px 20px;
    width: 139px;
    margin: 30px auto;
    border: 3px solid #ec1e79;
    text-decoration: none;
    color: #ec1e79;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 12px;
    text-transform: uppercase;
}

.button:hover {
    color: #fff;
    background-color: #ec1e79;
}
