/* СТРАНИЦА ОТЗЫВОВ */

.comments {
    float: left;
    width: 880px;
    margin-top: 14px;
}

.comments__list {
    margin: 0;
    padding: 0;
}

.comments__item:not(:last-child) {
    border-bottom: 2px solid #f5f5f5;
}

.comments__item:last-child {
    margin-bottom: 15px;
}

.comments__item{
    list-style: none;
    margin-bottom: 30px;
}

.comments__block {
    padding-bottom: 20px;
}

.comments__pic {
    position: relative;
    float: left;
    border-radius: 50%;
    overflow: hidden;
    width: 160px;
    height: 160px;
    margin-right: 20px;
}

.comments__logo{
    position: absolute;
    top: 45%;
    left: 51%;
    transform: translate(-50%, -50%);
    filter: grayscale(1) contrast(0) brightness(1.6);
}

.comments__date {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 11px;
}

.comments__name {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;
}

.comments__text {
    font-size: 18px;
    line-height: 1.67em;
    overflow: hidden;
}

.paginator {
    display: block;
    margin-left: 212px;
    margin-bottom: 78px;
    font-size: 14px;
    white-space: nowrap;
    line-height: 28px;
}

.paginator__title {
    float: left;
    padding-right: 10px;
}

.paginator__list {
    float: left;
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 0;
}

.paginator__item {
    display: inline-block;
    list-style: none;
    width: 22px;
    text-align: center;
    vertical-align: middle;
}

.paginator__link {
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    color: #221f1f;   
    width: 25px;
    height: 25px;
}

.paginator__prev {
    cursor: default;
    color: #bebdbd;
}

.paginator__link--current {
    color: #ec1e79; 
    background: #27273e;
    border-radius: 3px;
    line-height: 28px;
    width: 25px;
    height: 25px;
}

.paginator__link:not(.paginator__prev):hover {
    color: #ec1e79;  
    transition-duration: 0.5s; 
}

.paginator__prev,
.paginator__next {
    font-size: 26px;
    font-weight: 100;
    width: 20px;
    height: 25px;
}