/* СТРАНИЦА ОТЗЫВОВ */

.comments {
    float: left;
    width: 880px;
    margin-top: 14px;
}

.comments__list {
    margin: 0;
    padding: 0;
}

.comments__item:not(:last-child) {
    border-bottom: 2px solid #f5f5f5;
}

.comments__item:last-child {
    margin-bottom: 15px;
}

.comments__item{
    list-style: none;
    margin-bottom: 30px;
}

.comments__block {
    padding-bottom: 20px;
}

.comments__pic {
    position: relative;
    float: left;
    border-radius: 50%;
    overflow: hidden;
    width: 160px;
    height: 160px;
    margin-right: 20px;
}

.comments__logo{
    position: absolute;
    top: 45%;
    left: 51%;
    transform: translate(-50%, -50%);
    filter: grayscale(1) contrast(0) brightness(1.6);
}

.comments__date {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 11px;
}

.comments__name {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;
}

.comments__text {
    font-size: 18px;
    line-height: 1.67em;
    overflow: hidden;
}

.paginator {
    display: block;
    margin-left: 212px;
    margin-bottom: 78px;
    font-size: 14px;
    white-space: nowrap;
    line-height: 28px;
}

.paginator__title {
    float: left;
    padding-right: 10px;
}

.paginator__list {
    float: left;
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 0;
}

.paginator__item {
    display: inline-block;
    list-style: none;
    width: 22px;
    text-align: center;
    vertical-align: middle;
}

.paginator__link {
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    color: #221f1f;   
    width: 25px;
    height: 25px;
}

.paginator__prev {
    cursor: default;
    color: #bebdbd;
}

.paginator__link--current {
    color: #ec1e79; 
    background: #27273e;
    border-radius: 3px;
    line-height: 28px;
    width: 25px;
    height: 25px;
}

.paginator__link:not(.paginator__prev):hover {
    color: #ec1e79;  
    transition-duration: 0.5s; 
}

.paginator__prev,
.paginator__next {
    font-size: 26px;
    font-weight: 100;
    width: 20px;
    height: 25px;
}

.form {
    display: block;
    width: 700px;
    background-color: #f5f5f5;
    margin-left: 191px;
    margin-bottom: 70px;
}

.form__title {
    font-size: 49px;
    font-weight: bold;
    padding-top: 36px;
    padding-left: 66px;
    margin-bottom: 21px;
}

.form__fields {
    width: 560px;
    margin: 0 auto;
    
}

.form__row {
    font-size: 0;
}

.form__elem {
    position: relative;
    display: inline-block;
    font-size: 14px;
    width: 270px;
    margin-bottom: 20px;
}

.form__elem:first-child {
    margin-right: 20px;
}

.form__elem-title{
    display: block;
    margin-bottom: 7px;
    font-size: 14px;
}

.form__input {
    width: 270px;
    height: 45px;
    font-size: 14px;
    color: #a9a8a8;
    padding-left: 10px;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: transparent;
    -moz-appearance: none;
    font-family: "Gotham pro", sans-serif;
}

.form__input:focus {
    border: 1px solid #ec1e79;
}

.form__textarea {
    padding-bottom: 20px;
}

.form__text-input {
    border: 1px solid transparent;
    border-radius: 3px;
    outline: transparent;
    -moz-appearance: none;
    width: 560px;
    height: 90px;
    resize: none;
    font-size: 14px;
    font-family: "Gotham pro", sans-serif;
    color: #000;
    padding: 10px;
}

.form__text-input:focus {
    border: 1px solid #ec1e79;
}

.form__buttons {
    position: relative;
    padding-bottom: 50px;
    font-size: 14px;
}

.form__radios-title {
    margin-bottom: 10px;
}

.form__radio {
    display: inline-block;
    position: relative;
    
}

.form__radio-elem {
    position: absolute;
    left: -9999px;
}

.form__radio-style {
    position: relative;
}

.form__radio-style > .form__radio-elem:checked + .form__radio-circle {
    width: 8px;
    height: 8px;
}

.form__radio-style > .form__radio-elem:checked + .form__radio-circle + .check__styled + .form__radio-name {
    color: #ec1e79;
}

.form__radio-style > .form__radio-elem:checked + .form__radio-circle + .check__styled {
    border: 1px solid #ec1e79;
}

.form__radio-name {
    width: 20px;
    margin-right: 12px;
    margin-left: 1px;
    color: #27273e;
    transition: 0.2s;
    display: inline-block;
    vertical-align: middle;
}

.form__radio-circle {
    transition: 0.2s;
    width: 0;
    height: 0;
    background-color: #ec1e79;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 18%;
    top: 52%;
}

.check__styled {
    display: block;
    border: 1px solid #d6d6d6;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    background-image: linear-gradient(to bottom, #fefefe, #ececec);
}

.form__submit {
    position: absolute;
    transform: translate(-100%, -50%);
    left: 100%;
    top: 25%;
    width: 140px;
    height: 45px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border: 0px solid transparent;
    background-color: #27273e;
    border-radius: 3px; 
    outline: none;
    cursor: pointer;
    letter-spacing: 0.2em;
}

.form__submit:hover {
    background-color: #ec1e79;
    transition-duration: 0.3s;
}
