.wrapper {
    position: relative;
    min-height: 100%;
    overflow: hidden;
    min-width: 1100px;
}

.wrapper:after {
    content: "";
    display: block;
    width: 100%;
    height: 75px;
}

.container {
    margin: 0 auto;
    width: 1100px;
    padding: 0 20px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.content {
    width: 900px;
    margin-left: 192px;
}