/* ФУТЕР */

.footer {
    background-color: rgb(39, 39, 62);
    width: 100%;
    margin-top: 1px;
    min-width: 1100px;
}

.footer__col {
    float: left;
    width: 33.3%;
}

.footer__author {
    max-width: 280px;
    padding-top: 12px;
    padding-left: 11px;
    padding-bottom: 15px;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.3em;
    text-align: left;
}

.school_name {
    font-weight: bold;
    color: #fff;
}

.footer__social {
    color: #ffffff;
    padding-top: 20px;
    font-weight: bold;
    font-size: 14px;
    float: right;
}

.socials {
    list-style: none;
    margin: 0;
    padding-top: 10px;
    padding-right: 10px;
}

.social__text {
    padding-left: 20px;
}

.socials__icons {
    display: inline-block;
    background: #d4d4d8;
    border-radius: 50%;
    margin-right: 5px;
}

.footer__pic {
    padding-top: 16px;
    padding-left: 39%;
}

.icons__pic {
    margin-top: 5px;
}

.icons {
    display: inline-block;
    width: 21px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}

.socials__icons:hover {
    background-color: #ec1e79;
    transition-duration: 0.5s; 
}