/* ХЕДЕР */

.header {
    background-color: rgb(39, 39, 62);
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.contacts {
    float: right;
    padding-top: 10px;
}

.contacts__phone {
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.contacts__schedule {
    position: relative;
}

.schedule__text {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: rgb(192, 33, 105);
    text-decoration: underline;
    font-weight: bold;
    padding-left: 85px;
    padding-top: 1px;
}

.contacts__schedule .schedule__text:hover {
    color: rgb(127, 170, 212);
    cursor: pointer;
}

.contacts__schedule:active .contacts__schedule-time
{
    display: block;
}
.contacts__schedule:hover .contacts__schedule-time
{
    display: block;
}

.contacts__schedule-time p {
    margin: 0;
}

.contacts__schedule-time {
    font-size: 14px;
    position: absolute;
    top: 40px;
    right: -3px;
    display: none;
    width: 162px;
    padding-top: 18px;
    padding-bottom: 17px;
    padding-left: 12px;
    z-index: 5;
    background-color: #fff;
    border-radius: 3px;
    filter: drop-shadow(1px 1px 8px #000);
}

.contacts__schedule-time:after {
    content: "";
    border-bottom: 12px solid #fff;
    border-top: 12px solid transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    left: 99%;
    top: -31%;
    z-index: 5;
    margin-left: -24px;
}

.contacts__schedule-time:before {
    content: "";
    position: absolute;
    display: block;
    height: 23px;
    left: 0;
    right: 0;
    top: -22px;
}

.bold {
    color: rgb(192, 33, 105);
    font-weight: bold;
    padding-bottom: 10px;
}

.logo {
    display: inline-block;
}