
/* ГЛАВНАЯ СТРАНИЦА */

.about {
    float: left;
    margin-left: 191px;
    width: 700px;
}

.about__pic {
    float: left;
    position: relative;
    width: 880px;
}

.about__text {
    position: absolute;
    text-transform: uppercase;
    font-size: 49px;
    font-weight: bold;
    color: #fff;
    top: 157px;
    left: 62px;
}

.main__text {
    float: left;
    color: #221f1f;
    font-size: 18px;
    line-height: 1.5em;
}

.main__list {
    line-height: 1.9em;
    padding-left: 35px;
    margin-top: -15px;
}

.main__text li {
    list-style: none;
    position: relative;
}

.main__list li:before {
	content:'•';
	color: #ec1e79;
    left: -20px;
    position: absolute;
}

.rect {
    color: #fff;
    padding: 18px 55px 13px 30px;
    background-color: #27273e;
    margin-bottom: 17px;
}

.rect__disc {
    color: #ec1e79;
    font-weight: bold;
}

.logos {
    float: left;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 0px;
    width: 900px;
}

.partners__head {
    text-transform: uppercase;
    font-size: 49px;
    font-weight: bold;
    margin-bottom: 40px;
}

.partners__list {
    padding-left: 0;
}

.partners__logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 125px;
    margin-bottom: 51px;
    width: 147px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    text-align: center;
}

.partners__logo:hover {
    filter: grayscale(0%);
    transition-duration: 1.2s;
}

.partners__link {
    display: inline-block;
}

