
/* ГЛАВНАЯ СТРАНИЦА */

.about {
    display: inline-block;
    float: left;
    margin-left: 22px;
    width: 700px;
}

/* .gradient {
    position: absolute;
    background-image: linear-gradient(to right, #27273e 43%, #5dd1f8 93%);
    opacity: 0.5;
    width: 880px;
    height: 355px;
} */

.about__text {
    position: absolute;
    text-transform: uppercase;
    font-size: 49px;
    font-weight: bold;
    color: #fff;
    top: 234px;
    left: 430px;
}

.main__content {
    width: 700px;
    float: left;
    margin-left: 25px;
}

.main__text {
    display: inline-block;
    float: left;
    color: #221f1f;
    font-size: 18px;
    line-height: 1.5em;
}

.main__list {
    line-height: 1.9em;
    padding-left: 35px;
    margin-top: -15px;
}

.main__text li {
    list-style: none;
    position: relative;
}

.main__list li:before {
	content:'•';
	color: #ec1e79;
    left: -20px;
    position: absolute;
}

.rect {
    color: #fff;
    padding: 10px 55px 13px 30px;
    background-color: #27273e;
    margin-bottom: 86px;
}

.rect__disc {
    color: #ec1e79;
    font-weight: bold;
}

.partners__head {
    text-transform: uppercase;
    font-size: 49px;
    font-weight: bold;
}

.logos {
    float: left;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 0px;
    width: 900px;
}

.partners__list {
    padding-left: 0;
}

.partners__logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 125px;
    margin-bottom: 51px;
    width: 147px;
    -webkit-filter: grayscale(100%);
    text-align: center;
}

.partners__logo:hover {
    filter: grayscale(0%);
    transition-duration: 1.2s;
}

