/* БОКОВОЕ МЕНЮ */

.sidebar {
    float: left;
    width: 180px;
    margin-top: 30px;
}

.menu {
    padding-left: 12px;
}

.menu__item {
    display: inline-block;
    list-style: none;
    margin-bottom: 29px;
}

.menu__item:last-child {
    margin-bottom: 0;
}

.menu__link {
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    color: rgb(236, 30, 121);
    letter-spacing: 0.1em;
    font-weight: bold;
}

.menu__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.menu__icon_triangle {
    background-image: url('../../img/main_icon.png'); 
}

.menu__icon_wallet {
    background-image: url('../../img/wallet_icon.png');
}

.menu__icon_feed {
    background-image: url('../../img/feed_icon.png');
}

.menu__title {
    display: inline-block;
    vertical-align: middle;
    padding-left: 13px;
    max-width: 80px;
}

.menu__link:hover .menu__title {
    color: #221f1f;
    transition-duration: 0.5s; 
}

.menu__link:hover .menu__icon_triangle {
    transition-duration: 0.5s; 
    filter: grayscale(1) brightness(0);
    -webkit-filter: grayscale(1) brightness(0);
}

.menu__link:hover .menu__icon_wallet {
    transition-duration: 0.5s; 
    filter: grayscale(1) brightness(0);
    -webkit-filter: grayscale(1) brightness(0);
}

.menu__link:hover .menu__icon_feed {
    transition-duration: 0.5s; 
    filter: grayscale(1) brightness(0);
    -webkit-filter: grayscale(1) brightness(0);
}

.menu__link--active {
    filter: grayscale(1) brightness(0);
    -webkit-filter: grayscale(1) brightness(0);
}

/* ХЛЕБНЫЕ КРОШКИ */

.breadcrumbs {
    position: relative;
    float: left;
    margin-top: 44px;
    padding: 0px;
    font-style: italic;
    font-size: 14px;
    width: 100%;
    list-style: none;
}

.breadcrumbs__item {
    display: inline;
}

.breadcrumbs__link {
    color: #ec1e79;
}

.breadcrumbs__link--active {
    color: #000;
    text-decoration: none;
    cursor: default;
}

.breadcrumbs__link:hover {
    color: #000;
    transition-duration: 0.5s; 
}

.breadcrumbs__item:not(:last-child):after {
    content: '/';
}